* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    overflow: hidden;
}

body {
    background-color:#011E2C;
}

nav {
    z-index: 1;
    width: 100%;
    height: 3.5rem;
    position: sticky;
    overflow: hidden;
    top: 0;
    margin: 0;
    display: flex;
    background-color: #010F18;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: white;
    height: auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    cursor: pointer;
}

nav .nav_logo img {
    height: 2.2rem;
    width: auto;
    margin: 0.5rem -1rem 0 1rem;
}

nav .nav_center {
    margin-top: 0.9rem;
    display: flex;
    height: auto;
}

nav .nav_center ul {
    display: flex;
    list-style: none;
}

nav .nav_center a {
    overflow: visible;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    margin: 0 1rem;
    padding: 0.25rem 1rem;
}

nav .nav_center img {
    height: 1.25rem;
    width: auto;
}

nav .nav_center .pesquisar a {
    padding: 0;
    margin: 0.25rem 2rem;
}

nav .nav_center .mais_a_direita {
    margin-right: -1rem;
}

nav .nav_center .line1 a:after {
    content: '_________';
    font-size: 19px;
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.65rem;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease;
}

nav .nav_center .line1 a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

nav .nav_center .line2 a:after {
    content: '___________';
    font-size: 19px;
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.65rem;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease;
}

nav .nav_center .line2 a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

nav .nav_center .line3 a:after {
    content: '__________';
    font-size: 20px;
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.75rem;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease;
}

nav .nav_center .line3 a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

nav .nav_center .line4 a:after {
    content: '_________';
    font-size: 20px;
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.7rem;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease;
}

nav .nav_center .line4 a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

nav .nav_center .pesquisar img:hover {
    height: 1.4rem;
    transition: 0.2s ease;
}

nav .nav_right {
    margin: 0.9rem 1.5rem 0 -1rem;
}

nav .nav_right .login {
    background-image: linear-gradient(
    to right,
    #164461 ,
    #288dcc 50%,
    white 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

nav .nav_right .login:hover {
    background-position: 0;
}

nav .nav_right .login:before {
    width: 100%;
}

nav .nav_mobile .line {
    width: 32px;
    height: 2px;
    background: white;
    margin: 8px;
}

nav .nav_mobile .pesquisar_mobile img {
    height: 1.5rem;
    width: auto;
}

nav .nav_mobile {
    display: none;
}

@media only screen and (max-width: 800px) {
    nav .nav_center, nav .nav_right {
        display: none;
    }
    nav .nav_mobile {
        display: inherit;
        margin: 0.5rem 0.75rem 0rem 0rem;
        height: 2rem;
    }
    nav .nav_mobile .pesquisar_mobile {
        margin: 0.4rem 0.75rem 0rem 0rem;
    }
    nav .nav_mobile a {
        cursor: pointer;
    }
}

body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #CCCCCC;
}

body::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar-thumb {
    background: #333333;
}

.welcome{
    display: flex;
    position: relative;
    flex-direction: column;
    box-sizing: border-box;
    height: auto;
    width: 100vw;
    background-image: url(./img/Wallpaper-Anime-Solo-Leveling-Sung-Jin-Woo-1920x1080px19.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -4.5rem;
    overflow: hidden;
    flex-wrap: wrap;
}

@media only screen and (max-width: 800px){
    .welcome{
        background-image: none;
    }
}

.welcome .apresentação {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.welcome #welcome_top {
    box-shadow: 10px 10px 15px #010F18;
    width: 38rem;
    height: 10%;
    border-radius: 2rem;
    margin: 2rem 3rem 3rem 1rem;
    background-color: #010F18;
}

@media only screen and (max-width:650px){
    .welcome #welcome_top {
        width: 90%;
    }
}

.welcome h1{
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    text-align: left;
    margin-top: 3rem;
}

.welcome ul{
    margin-left: 4rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 4rem;
}

.welcome ul li{
    display: flex;
    margin-top: 1rem;
    flex-wrap: wrap;
    flex-direction: column;
}

.welcome ul #gps img{
    height: 1rem;
    margin-right: 1rem;
    vertical-align: middle;
}

.welcome ul #entrega img{
    height: 0.75rem;
    margin-right: 0.75rem;
}

.welcome ul #coração img{
    height: 0.95rem;
    margin-right: 1rem;
}

.welcome ul p{
    color: white;
}

.welcome #welcome_bottom{
    height: 10rem;
}

@media only screen and (max-width: 417.99px){
    .welcome #welcome_bottom{
        height: auto;
    }
}

.welcome h2{
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.7rem;
    text-align: left;
    margin-top: 0.25rem;
}

.welcome .buttons img{
    height: 1rem;
}

.welcome .buttons{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.welcome button{
    background: linear-gradient(to bottom right, #164461, #288dcc );
    margin-bottom: 1rem;
    border: 0;
    border-radius: 1rem;
    color: whitesmoke;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0.5rem 1.5rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button_community:not([disabled]):focus{
    box-shadow: 0 0 .25rem #010F18, -.125rem -.125rem 1rem #04334b, .125rem .125rem 1rem #336889;
}

.button_community:not([disabled]):hover{
    box-shadow: 0 0 .25rem #010F18, -.125rem -.125rem 1rem #04334b, .125rem .125rem 1rem #336889;
}

.button_community:active{
    transform: translate3d(1px,1px,0);
}

.catálogo{
    display: flex;
    box-sizing: border-box;
    position: relative;
    flex-direction: column;
    margin-top: 4rem;
}

.catálogo h1{
    display: flex;
    color: white;
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    border-bottom: #fff solid;
    margin-left: 2rem;
    width: auto;
    flex-wrap: wrap;
}

.catálogo ul{
    display: flex;
    flex-wrap: wrap;3
    list-style: none;
    margin-top: 3rem;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.catálogo ul li{
    display: flex;
    flex-direction: column;
}

.catálogo ul img{
    height: 16rem;
    width: 12rem;
    border-radius: 1rem;
}

.catálogo .obra{
    margin: 0 0.75rem 0.3rem 0.75rem;
    text-decoration: none;
    border-radius: 1rem;
    cursor: pointer;
    appearance: none;
    background: none;
    border-width: 0;
    box-shadow: #288dcc 7px 7px 7px;
    box-sizing: border-box;
    color: #36395A;
    display: inline-flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    text-align: left;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
  }

.catálogo .obra:focus{
    box-shadow: #288dcc 7px 7px 7px;
}

.catálogo .obra:hover{
    box-shadow: #00E6F6 7px 7px 7px;
    transform: translateY(-2px);
}

.catálogo .obra:active{
    box-shadow: #00E6F6 7px 7px 7px;
    transform: translateY(2px);
}

.catálogo ul .titulo{
    color: #fff;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    padding: auto;
    margin: auto;
    margin-bottom: 1.5rem;
    height: auto;
    max-width: 10rem;
}

.catálogo ul .titulo:hover{
    color:#00E6F6;
    transition: all 0.2s ease;
}

.catálogo button{
    background-color: #010F18;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    box-shadow: #288dcc 0 1px 3px 2px;
    box-sizing: border-box;
    color: #288dcc;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    min-height: 3rem;
    padding: 0.8rem 0.8rem;
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    margin: auto;
    margin-bottom: 3rem;
}

.catálogo button:hover, .catálogo button:focus{
    border-color: #00E6F6;
    box-shadow: #00E6F6 0 4px 12px;
    color: #00E6F6;
}

.catálogo button:hover{
    transform: translateY(-1px);
}

.catálogo button:active{
    background-color: #00E6F6;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

footer{
    color: #CCCCCC;
    display: flex;
    justify-content: space-between;
    margin: 3rem 0 0.75rem 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer img{
    height: 1rem;
    margin: 0 0.25rem
}

footer a{
    color: #CCCCCC;
    text-decoration: none;
    font-weight: bold;
}

footer .footer_bottom a{
    vertical-align: middle;
}

footer .footer_top{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 11px;
}

footer .footer_bottom{
    margin-right: 0.25rem;
}